html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  > .container {
    padding: 70px 15px 20px;
  }
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */

a {
  &.asc:after, &.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
  }
  &.asc:after {
    content: "\e151";
  }
  &.desc:after {
    content: "\e152";
  }
}

.sort-numerical a {
  &.asc:after {
    content: "\e153";
  }
  &.desc:after {
    content: "\e154";
  }
}

.sort-ordinal a {
  &.asc:after {
    content: "\e155";
  }
  &.desc:after {
    content: "\e156";
  }
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */

.nav {
  li > form > button.logout {
    padding: 15px;
    border: none;
  }
  > li > form > button.logout {
    &:focus, &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.item__block {
  display: flex;
  align-items: center;
}

.item__text {
  flex-grow: 1;
}

.item__buttons {
  flex-shrink: 0;
}

.monthSelect {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}